
.idea/artifacts/clinicpetweb_war.xml
.idea/artifacts/clinicpetweb_war_exploded.xml
.idea/compiler.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__com_mchange_c3p0_0_9_2_1.xml
.idea/libraries/Maven__com_mchange_mchange_commons_java_0_2_3_4.xml
.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__jstl_jstl_1_2.xml
.idea/libraries/Maven__junit_junit_4_8_2.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_c3p0_4_3_9_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_9_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
.idea/libraries/Maven__org_mockito_mockito_all_1_10_19.xml
.idea/libraries/Maven__postgresql_postgresql_9_1_901_1_jdbc4.xml
.idea/libraries/Maven__taglibs_standard_1_1_2.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
clinicpetweb/target/
out/
se/se.iml
se/src/main/resources/
se/target/
target/
calculatorlesson.iml
/clinicpetweb/clinicpetweb.iml
.gitignore