<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>ClinicPet</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring-context.xml
            <!--classpath:spring-security.xml-->
        </param-value>
    </context-param>

    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Processes application requests -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:spring-context.xml
                <!--classpath:spring-security.xml-->
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--
    <servlet>
        <servlet-name>ClinicViewServlet</servlet-name>
        <servlet-class>ru.achrom.servlets.ClinicViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClinicViewServlet</servlet-name>
        <url-pattern>/clinic/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddClientServlet</servlet-name>
        <servlet-class>ru.achrom.servlets.AddClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddClientServlet</servlet-name>
        <url-pattern>/clinic/add-client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>ru.achrom.servlets.DeleteClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/clinic/delete-client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditClientServlet</servlet-name>
        <servlet-class>ru.achrom.servlets.EditClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditClientServlet</servlet-name>
        <url-pattern>/clinic/edit-client</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditAnimalServlet</servlet-name>
        <url-pattern>/clinic/edit-animal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditAnimalServlet</servlet-name>
        <servlet-class>ru.achrom.servlets.EditAnimalServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddAnimalServlet</servlet-name>
        <servlet-class>ru.achrom.servlets.AddAnimalServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddAnimalServlet</servlet-name>
        <url-pattern>/clinic/add-animal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAnimalServlet</servlet-name>
        <servlet-class>ru.achrom.servlets.DeleteAnimalServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteAnimalServlet</servlet-name>
        <url-pattern>/clinic/delete-animal</url-pattern>
    </servlet-mapping>-->

</web-app>