<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>ClinicPet</display-name>

    <servlet>
        <servlet-name>ClinicViewServlet</servlet-name>
        <servlet-class>servlets.clinic.ClinicViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClinicViewServlet</servlet-name>
        <url-pattern>/clinic/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddClientServlet</servlet-name>
        <servlet-class>servlets.clinic.AddClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddClientServlet</servlet-name>
        <url-pattern>/clinic/add-client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteClientServlet</servlet-name>
        <servlet-class>servlets.clinic.DeleteClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteClientServlet</servlet-name>
        <url-pattern>/clinic/delete-client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditClientServlet</servlet-name>
        <servlet-class>servlets.clinic.EditClientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditClientServlet</servlet-name>
        <url-pattern>/clinic/edit-client</url-pattern>
    </servlet-mapping>

</web-app>